// background styles
$prim-bg-color: #fefefe;

// Text styles
$txt-sans: "sans-serif";
$txt-roboto: "Roboto";
$prim-txt-color: #2c2c2c;

// Button colors
$btn-green: #bbf330;

// Shadows
$header-shadow: rgba(105, 105, 105, 0.1);
